.tab{
    float: left;

    width: 20%;
    height: 100%;

    background-color: tomato;
}
.tab button{
    display: block;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
}
.tab button:hover{
    background-color: #ddd;
    font-weight: bolder;
}
.tabcontent{
    margin-left: 5%;
    display: none;
    float: left;
}
.clearFix::after{
    content: "";
    clear: both;
    display: table;
}