table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
td{
    background-color: aliceblue;
    margin-left: 10px;
    margin-right: 10px;
}
#yP{
    background-color: rgb(255, 255, 168);
}